.bundle/
pkg/
.bundle
config/database.yml
config/unearth.yml
db/*.sqlite3
log/*.log
system/
tmp/
.sass-cache/
sprockets
public/assets
public/downloads
vendor/ruby
vendor/cache
db/dumps
db/*.bak
.rbenv-version
.DS_Store
public/exports/
#data/
*.sublime-workspace
*.sublime-project
*.sql
.idea/
*.gem